.slider {
	@extend %clearfix;
	height: 100vh;
	min-height: 650px;

	@include tablets {
		height: auto;
		min-height: 0;
		text-align: center;
	}
}

.slider__col {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;

	@include tablets {
		float: none;
		width: 100%;
		height: auto;
	}

	&_left {
		background: $white;
	}

	&_right {
		background: $beige;
	}
}

.slider__display {
	position: absolute;
	width: 100%;
	left: 100%;
	z-index: 10;
	height: 70%;

	@include tablets {
		position: static;
	}
}

.slider__desc {
	width: 70%;
	text-align: center;
	@include centered();
	display: inline-block;

	@include tablets {
		position: static;
		transform: none;
	}
}

.slider__desc-title {
	margin-bottom: 20px;
}

.slider__desc-skills {
	padding: 20px 0;
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;
	color: $green;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 40px;
}

.slider__desc-btn {
	text-align: center;
}


.slider__btns {
	@extend %clearfix;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30%;

	@include tablets {
		position: static;
		height: 200px;
	}
}

.slider__btn {
	height: 100%;
	display: block;
	width: 50%;
	float: left;

	&_left {
		background: url('../img/btns/up.jpg') center center no-repeat;
		background-size: cover;
	}

	&_right {
		background: url('../img/btns/down.jpg') center center no-repeat;
		background-size: cover;
	}
}


.slider__display-pic {
	@include centered();
	max-width: 100%;
	display: block;

	@include tablets {
		display: inline-block;
		position: static;
		transform: none;
	}
}