section.section.hero
    .hero__bg
        img(src="img/bg/portfolio.jpg" alt="").hero__bg-img

    .hero__container
        img(src="img/decor/portfolio-header.png" alt="").hero-title-pic

        .user
            .user__pic-container
                img(src="img/content/user.jpg" alt="").user__pic
            .user__name Владимир Астахов
            .user__desc Личный сайт разработчика